<footer class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Find Me</h5>
    <!--headin5_amrc-->
    <p><i class="fa fa-location-arrow"></i> aaniksahaa.2001@gmail.com </p>
    
    
    </div>
    
    
    <%#   <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="http://webenlance.com">Image Rectoucing</a></li>
    <li><a href="http://webenlance.com">Clipping Path</a></li>
    <li><a href="http://webenlance.com">Hollow Man Montage</a></li>
    <li><a href="http://webenlance.com">Ebay & Amazon</a></li>
    <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
    <li><a href="http://webenlance.com">Image Cropping</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="http://webenlance.com">Remove Background</a></li>
    <li><a href="http://webenlance.com">Shadows & Mirror Reflection</a></li>
    <li><a href="http://webenlance.com">Logo Design</a></li>
    <li><a href="http://webenlance.com">Vectorization</a></li>
    <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
    <li><a href="http://webenlance.com">Image Cropping</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    %>
    
    <div class=" col-sm-4 col-md  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Follow</h5>
    <!--headin5_amrc ends here-->
    
    <%#   <ul class="footer_ul2_amrc">
    <li><p> <a href="https://aaniksahaa.wordpress.com">Website</a></p></li>
    <li><p> <a href="https://www.facebook.com/">Facebook</a></p></li>
    <li><p> <a href="https://www.twitter.com/">Twitter</a></p></li>
    </ul>
    %>
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    </div>
    
    
    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2021 | Designed by Anik Saha </p>
    
    </div>
    
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>