<%- include('../partials/head.ejs') %>

<body>
    <center>
    <br><br><br><br><br>
    <div class="mycontainer" style="width: 900px">
        <br><br>
            <a class="a" href="/auth/userLogin">Login As User</a>
        <br><br>
            <a class="a" href="/auth/teacherLogin">Login As Teacher</a>
        <br><br><br>
    </div>
    <br><br>
    </center>
</body>
